.App {
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex-flow: column;
}

pre {
  text-align: left;
  border: 1px solid #e3e3e3;
  background: #efefef;
  font-family: hack, monospace;
  font-size: 10pt;
}
